/* You can add global styles to this file, and also import other style files */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(10, 10, 10, 0.91);
  color: #f1f1f1;
}

html, body {
  height: 100%;
}

html, body { 
  height: 100%; 
  background-color: rgba(10, 10, 10, 0.91);
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: rgba(10, 10, 10, 0.91);
  color: #f1f1f1;
}
